# TODO на сервере надо настроить редиректы на красивые страницы с ошибками 500, 404 и т.п.
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]